html,
body {
    height: 100%;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

h2 {
    font-weight: 700;
}

.gradient {
    background: rgb(34,114,242);
     background: linear-gradient(135deg, rgba(34,114,242,1) 14%, rgba(79,40,190,0.9313392210542486) 69%);
}
    

.page-header {
    margin-top: 64px;
    font-size: 20px;
    color: #fff;
}

.feature {
    color: #fff;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem; 
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: white;
}

.footer {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

a {
    color: white;
    text-decoration: none;
}


